<div class="weather-icon">
  <i class="wi wi-day-sunny"></i>
  <p> It looks pretty good out there.</p>
</div>
<div class="location">
  <p>We'll be at Ponyfish Island</p>.
  <div class="map-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.7259767463092!2d144.96279631531897!3d-37.81988697975122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b3b6b38a63%3A0xeda13795c8535bda!2sPonyfish+Island!5e0!3m2!1sen!2sau!4v1447297998398" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
